# Visual Studio
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]ppPackages/
[Aa]rtifacts/

# Build artifacts
obj/
bin/


# .NET
project.lock.json
project.fragment.lock.json
artifacts/
*.dll
*.exe
*.pdb
*.cache
*.ilk
*.log
*.vsix
*.nupkg
*.snk
*.swp
*.userprefs
*.tmp
*.bak
*.obj
*.idb
*.suo
*.tlb
*.tlh
*.log
*.vspscc
*.vssscc
*.builds
*.pidb
*.svclog
*.scc

# Rider
.idea/
*.sln.iml

# Others
*.DS_Store
*.directory
*.class
*.log
*.pyc
*.pyo
*.min.js
*.min.css
node_modules/